@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply transition-colors duration-200;
  }
}

/* On force un fond très sombre pour éviter le flash blanc au chargement */
html.dark {
  background-color: #0f172a;
}