@import "tailwindcss";

@theme {
  --color-menthe: #00ffa3;
  --color-mineral-900: #111818;
  --color-mineral-950: #050707;
}

:root {
  /* On force les variables du mode sombre par défaut */
  --app-bg: radial-gradient(at 100% 0%, #0d1313 0%, #050707 100%);
  --card-bg: rgba(20, 26, 26, 0.8);
  --text-primary: #f1f7f5;
  --text-secondary: #00ffa3;
  --nav-bg: rgba(10, 12, 12, 0.9);
  color-scheme: dark;
}

body {
  background: var(--app-bg);
  background-attachment: fixed;
  color: var(--text-primary);
  font-family: 'Inter', sans-serif;
}

.glass-card {
  background: var(--card-bg);
  backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.05);
}

/* Style des inputs pour éviter le gris "mort" */
input, select {
  @apply bg-transparent outline-none text-[var(--text-primary)] font-black;
}

input::placeholder {
  color: rgba(255, 255, 255, 0.2);
}